<!-- footer start -->
      <footer>
         <div class="container">
            <div class="row">
               <div class="col-md-4">
                   <div class="full">
                      <div class="logo_footer">
                        <a href="{{path('acc')}}"><img width="210" src="{{asset("assets2/images/lg3.jpg")}}"alt="#" /></a>
                        
                      </div>
                      <div class="information_f">
                        <p><strong>ADDRESS:</strong> 208, Avenue de la République,
Hammamet 8050, Tunisie</p>
                        <p><strong>TELEPHONE:</strong> +216 58 987 666</p>
                        <p><strong>EMAIL:</strong> Email: contact@yes-internet.com </p>
                      </div>
                   </div>
               </div>
               <div class="col-md-8">
                  <div class="row">
                  <div class="col-md-7">
                     <div class="row">
                        <div class="col-md-6">
                     <div class="widget_menu">
                        <h3>Menu</h3>
                        <ul>
                           <li><a href="{{path('acc')}}">Home</a></li>
                           <li><a href="{{path('main')}}">Products</a></li>
                           <li><a href="{{ path('contact') }}">Contact</a></li>
                           <li><a href="{{ path('users_modifp') }}">Profil</a></li>
                           <li><a href="{{ path('testc')}}">Chart</a></li>
                           <li><a href="{{path('filterT')}}">Search</a></li>

                        </ul>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="widget_menu">
                        <h3>Account</h3>
                        <ul>
                           <li><a href="{{ path('users_modifp') }}">Account</a></li>
                           <li><a href="{{ path('app_logout') }}">Logout</a></li>
                           <li><a href="{{path('app_login')}}">Login</a></li>
                           <li><a href="{{path('app_register')}}">Register</a></li>
                        </ul>
                     </div>
                  </div>
                     </div>
                  </div>     
                  <div class="col-md-5">
                     <div class="widget_menu">
                        <h3><center>Join Us</center></h3>
                        <div class="information_f">
                          <p><center>Subscribe and get updates.</center></p>
                        </div>
                        <div class="form_sub">
                           <form>
                             
                               
                                    <input type="submit" value="Subscribe" href="{{path('app_register')}}"/>
                                
                              
                           </form>
                        </div>
                     </div>
                  </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- footer end -->
      <div class="cpy_">
         <p class="mx-auto">© 2021 All Rights Reserved By <a href="https://html.design/">Free Html Templates</a><br>
         
            Distributed By <a href="https://themewagon.com/" target="_blank">ThemeWagon</a>
         
         </p>
      </div>